<p>This is the manager/centers view.</p>
{{centers || json}}


<form>
  <input placeholder="Message..." ng-model="newMessage">
  <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
</form>

<ul id="messages" ng-show="centers.length">
    <li ng-repeat="center in centers">{{center.text}}</li>
</ul>

<span ng-show="authData">
  <pre>{{authData || json}}</pre>
  {{ authData.name }} | <a href="#" ng-click="authObj.$unauth()">Logout</a>
</span>

<!-- 메니저만 가능 -->
<a href="#/manager/centers/add">add</a>


<hr>
<div class="col-lg-6">
  <ht-widget>
    <ht-widget-header icon="fa-users" title="Users">
      <input type="text" placeholder="Search" class="form-control input-sm" />
    </ht-widget-header>
    <ht-widget-body classes="medium no-padding">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td>Joe Bloggs</td>
              <td>Super Admin</td>
              <td>AZ23045</td>
            </tr>
          </tbody>
        </table>
          </div>
    </ht-widget-body>
  <ht-widget>
</div>
