<!-- 메니저만 가능 -->
<a href="#/manager/centers/add">add</a>


<hr>
<div class="col-lg-6">
  <ht-widget>
    <ht-widget-header icon="fa-users" title="센터 정보">
      <input type="text" placeholder="Search" class="form-control input-sm" ng-model="searchText"/>
    </ht-widget-header>
    <ht-widget-body classes="medium no-padding">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">번호</th>
              <th class="text-center">이름</th>
              <th>소재지</th>
              <th>대표번호</th>
              <th>후원금 총액</th>
              <th>이미지</th>
              <th>등록일</th>
              <th>상세정보</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list | filter: searchText">
              <td class="text-item">{{$index + 1}}</td>
              <td class="text-item">{{item.name}}</td>
              <td>{{item.location}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.donation}}</td>
              <td>{{item.img}}</td>
              <td>{{item.regDate}}</td>

              <td><a ng-href="#/manager/centers/{{item.$id}}">상세보기</a></td>
            </tr>
          </tbody>
        </table>
          </div>
    </ht-widget-body>
  <ht-widget>
</div>
