<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<ht-widget>
			<ht-widget-body>
				<div class="widget-icon green pull-left">
					<i class="icon ion-android-contacts"></i>
				</div>
				<div class="comment">회원수</div>
				<div class="title">80</div>
			</ht-widget-body>
		</ht-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<ht-widget>
			<ht-widget-body>
				<div class="widget-icon red pull-left">
					<i class="icon ion-android-happy"></i>
				</div>
				<div class="comment">산책 가능</div>
				<div class="title">98</div>
			</ht-widget-body>
		</ht-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<ht-widget>
			<ht-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="icon ion-android-favorite"></i>
				</div>
				<div class="comment">유기 동물</div>
				<div class="title">225</div>
			</ht-widget-body>
		</ht-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<ht-widget>
			<ht-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="icon ion-android-star-outline"></i>
				</div>
				<div class="comment">산책 이벤트</div>
				<div class="title">62</div>
			</ht-widget-body>
		</ht-widget>
	</div><i class="icon"></i>
</div>

<div class="row">
	<div class="col-lg-6">
		<ht-widget>
      		<ht-widget-header title="신규 유기동물">
				<a href="#">Manage</a>
      </ht-widget-header>
      		<ht-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr><td>RDVMPC001</td><td>서울숲보호소</td><td>2015.05.30</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDVMPC002</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDVMPC003</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>RDPHPC001</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX001</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX002</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX003</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>RDESX004</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDTerminal01</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDTerminal02</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span tooltip="Could not connect!" class="text-warning"><i class="fa fa-flash"></i></span></td></tr>
							<tr><td>RDDomainCont01</td><td>서울숲보호소</td><td>2015.05.30</td><td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
						</tbody>
					</table>
				</div>
			</ht-widget-body>
		</ht-widget>
	</div>
	<div class="col-lg-6">
		<ht-widget>
			<ht-widget-header icon="fa-users" title="센터 회원">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</ht-widget-header>
			<ht-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">ID</th><th>센터명</th><th>대표번호</th><th>Email</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1</td><td>꿈의숲보호소</td><td>02-483-8829</td><td>gooddogs@gmail.com</td></tr>
							<tr><td class="text-center">2</td><td>부산동물사랑센터</td><td>051-253-8473</td><td>animalfreedom@naver.com</td></tr>
							<tr><td class="text-center">3</td><td>서울숲보호소</td><td>02-2091-9383</td><td>weeallfriend@naver.com</td></tr>
						</tbody>
					</table>
        		</div>
			</ht-widget-body>
		<ht-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
   		<ht-widget>
   			<ht-widget-header icon="fa-plus" title="센터공지">
   				<button class="btn btn-sm btn-info">공지하기</button>
   			</ht-widget-header>
   			<ht-widget-body>
				<div class="message">
					유기견 등록 방법 안내
				</div>
				<hr />
				<div class="message">
					산책 이벤트 등록 안내
				</div>
      </ht-widget-body>
    </ht-widget>
	</div>
	<div class="col-lg-6">
			<ht-widget>
				<ht-widget-header icon="fa-plus" title="서비스공지">
					<button class="btn btn-sm btn-info">공지하기</button>
				</ht-widget-header>
				<ht-widget-body>
				<div class="message">
					6월 1일 오전 8시에 서버 점검이 있을 예정입니다.
				</div>
			</ht-widget-body>
		</ht-widget>
	</div>
</div>
