<div class="main-bg"></div>
<div class="page-single">
  <div class="container">
    <div class="row main-block">
      <div class="col-lg-4 text-center">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>산책 봉사</h2>
        <p>유기견과 함께 즐거운 추억을 만들어보세요.</p>
        <p><a class="btn btn-default" href="#" role="button">봉사 신청 »</a></p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>보호센터 정보</h2>
        <p>유기견 보호센터 정보를 알 수 있습니다.</p>
        <p><a class="btn btn-default" href="#" role="button">센터 지도 »</a></p>
      </div>
      <div class="col-lg-4 text-center">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>후원 및 입양</h2>
        <p>각 센터별로 유기동물을 입양 후원 할 수 있습니다.</p>
        <p><a class="btn btn-default" href="#" role="button">유기동물 살펴보기 »</a></p>
      </div>
    </div>
  </div>
</div>
