<div id="sidebar-wrapper">
   <ul class="sidebar">
     <li class="sidebar-main">
       <a href="#">
         <i class="icon ion-map"></i> 유기견 산책
       </a>
     </li>
     <div class="btn-group">
       <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>산책 봉사</label>
       <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>센터 정보</label>
     </div>

     <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">...</p>
        </a>
      </div>
   </div>
 </div>
