<div id="sidebar-wrapper">
   <ul class="sidebar">
     <li class="sidebar-main">
       <a href="#">
         HappyTail
         <span class="menu-icon glyphicon glyphicon-transfer"></span>
       </a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager">대시 보드 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-title"><span>우리 센터</span></li>
     <li class="sidebar-list">
       <a href="#/manager/my/center">센터 정보 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager/my/dogs">보호 동물 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager/my/events">봉사 관리<span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-title"><span>전체 현황</span></li>
     <li class="sidebar-list">
       <a href="#/manager/centers">보호 센터 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager/dogs">보호 동물 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <!-- <li class="sidebar-list">
       <a href="#/manager/event">봉사 현황 관리 <span class="menu-icon fa fa-tachometer"></span></a>
     </li> -->
     <li class="sidebar-list">
       <a href="#/manager/event/history">봉사 현황 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
   </ul>
   <div class="sidebar-footer">
     <div class="col-xs-4">
       <a href="#/about" target="_blank">
         About
       </a>
     </div>
     <div class="col-xs-4">
       <a href="#/support" target="_blank">
         Support
       </a>
     </div>
     <div class="col-xs-4">
       <a href="#">
         Help
       </a>
     </div>
   </div>
 </div>
