<div id="sidebar-wrapper">
   <ul class="sidebar">
     <li class="sidebar-main">
       <a href="#">
         <i class="icon ion-home"></i> 관리 센터
         <span class="menu-icon glyphicon glyphicon-transfer"></span>
       </a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager"><i class="icon ion-clipboard"></i>대시 보드 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-title"><span>우리 센터</span></li>
     <li class="sidebar-list">
       <a href="#/manager/my/center"><i class="icon ion-cube"></i>센터 정보 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager/my/dogs"><i class="icon ion-ios-pulse-strong"></i>보호 동물 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager/my/events"><i class="icon ion-android-walk"></i>봉사 관리<span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-title"><span>전체 현황</span></li>
     <li class="sidebar-list">
       <a href="#/manager/centers"><i class="icon ion-ios-medkit-outline"></i>보호 센터 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager/dogs"><i class="icon ion-ios-barcode"></i>보호 동물 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <!-- <li class="sidebar-list">
       <a href="#/manager/event">봉사 현황 관리 <span class="menu-icon fa fa-tachometer"></span></a>
     </li> -->
     <li class="sidebar-list">
       <a href="#/manager/event/history"><i class="icon ion-leaf"></i>봉사 현황 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
   </ul>
   <div class="sidebar-footer">
     <div class="col-xs-4">
       <a href="#/about" target="_blank">
         About
       </a>
     </div>
     <div class="col-xs-4">
       <a href="#/support" target="_blank">
         Support
       </a>
     </div>
     <div class="col-xs-4">
       <a href="#">
         Help
       </a>
     </div>
   </div>
 </div>
