<div id="sidebar-wrapper">
   <ul class="sidebar">
     <li class="sidebar-main">
       <a href="#">
         Happytail Manger
         <span class="menu-icon glyphicon glyphicon-transfer"></span>
       </a>
     </li>
     <li class="sidebar-title"><span>NAVIGATION</span></li>
     <li class="sidebar-list">
       <a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
   </ul>
   <div class="sidebar-footer">
     <div class="col-xs-4">
       <a href="#/about" target="_blank">
         About
       </a>
     </div>
     <div class="col-xs-4">
       <a href="#/support" target="_blank">
         Support
       </a>
     </div>
     <div class="col-xs-4">
       <a href="#">
         Help
       </a>
     </div>
   </div>
 </div>
