<div id="sidebar-wrapper">
   <ul class="sidebar">
     <li class="sidebar-main">
       <a href="#">
         관리 센터
         <span class="menu-icon glyphicon glyphicon-transfer"></span>
       </a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager">대시 보드 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-title"><span>목록</span></li>
     <li class="sidebar-list">
       <a href="#/manager/centers">보호 센터 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager/dogs">보호 동물 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-title"><span>산책 봉사</span></li>
     <li class="sidebar-list">
       <a href="#/manager/centers">이벤트 관리 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
     <li class="sidebar-list">
       <a href="#/manager/dogs">이벤트 기록 <span class="menu-icon fa fa-tachometer"></span></a>
     </li>
   </ul>
   <div class="sidebar-footer">
     <div class="col-xs-4">
       <a href="#/about" target="_blank">
         About
       </a>
     </div>
     <div class="col-xs-4">
       <a href="#/support" target="_blank">
         Support
       </a>
     </div>
     <div class="col-xs-4">
       <a href="#">
         Help
       </a>
     </div>
   </div>
 </div>
